@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  line-height: calc(1em + 0.8rem);
  -webkit-font-smoothing: antialiased;
}
html {
  display: block;
}

html,
body {
  --text-size: 24px;
  height: 100%;
  font-family: 'NanumSquareNeo', 'Wotfard', sans-serif;
  font-size: var(--text-size);
  background-color: var(--color-background);
}

body {
  cursor:
    url('/images/cursor_default.png') 0 0,
    auto;
}

#_next {
  isolation: isolate;
  height: 100%;
}

#site-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  container: root / inline-size;
  background: var(--color-background);
}

input,
button {
  border: none;
  border-radius: 0;
  padding: 0;
}

input,
button,
textarea {
  line-height: 16px;
  letter-spacing: -0.4px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  opacity: 0;
  position: absolute;
  right: 0;
}

button {
  background: none;
  cursor:
    url('/images/cursor_pointer.png') 16 6,
    pointer;
  touch-action: manipulation;
  outline-offset: 4px;

  :focus:not(:focus-visible) {
    outline: none;
  }
}

a:visited {
  color: var(--color-text);
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

#device-page__root-wrapper {
  background: oklch(96.88% 0.015 294.47);

  display: grid;
  place-items: center;
  width: 100cqw;
  height: 100%;
}

#devsite-wrapper {
  display: grid;
  width: 100cqw;
  height: 100cqh;

  grid-template-rows: [devsite-header] 64px [devsite-content-row] 1fr;
  grid-template-columns: [devsite-content-column] 1fr;
}

#devsite-header {
  position: relative;
  width: 100cqw;

  grid-area: devsite-header / devsite-content-column;
  margin-left: auto;
  margin-right: auto;

  padding-left: 64px;
  padding-right: 64px;
}

#devsite-content {
  grid-area: devsite-content-row / devsite-content-column;
  container: devsite-content / size;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#devsite-content__site-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80cqh;
}

#status-notification {
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  list-style-type: none;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

@container root (width < 769px) {
  #_next {
    font-size: 16px;
    line-height: calc(1em + 0.15rem);
  }
}

@container root (width < 426px) {
  #devsite-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  #device-root-wrapper {
    border: none;
    border-radius: 0px;
  }
  #device-outter-shadow {
    border: none;
    outline: none;
  }

  #device-inner-window {
    padding: 0px;
  }

  #devsite-header {
    margin-left: 0;
    margin-right: 0;

    padding-left: 32px;
    padding-right: 32px;
  }

  .devsite-device__main-wrapper {
    flex-direction: column;
  }
}

@container root (width <= 360px) {
  #devsite__init-page-title {
    flex-direction: column;
  }
}
