@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  line-height: calc(1em + 0.8rem);
  -webkit-font-smoothing: antialiased;
}

::view-transition-group(*) {
  animation-timing-function: var(--ease-squish-1);
}

@font-face {
  src: url('/font/NanumSquareNeo-Variable.woff2') format('font-woff2');
  font-family: 'NanumSquare';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

:root {
  --nanum-square-neo: 'NanumSquare';

  --color-background: oklch(96.88% 0.015 294.47);
  --color-text: oklch(42.44% 0.011 17.58);
  --color-transparent: oklch(42.44% 0.011 17.58 / 20%);
  --color-primary: oklch(96.86% 0.009 288.17775174927874);
  --color-button: oklch(65.57% 0.19552898037793698 288.17775174927874);
  --color-highlight: oklch(73.96% 0.1963 25.278467161119735);
  --color-confirm: oklch(84.51% 0.162 147.29);
  --default-shadow: linear-gradient(
    to left,
    oklch(21.25% 0.005 17.53) 0%,
    oklch(50.2% 0.013 17.59) 9%,
    oklch(50.2% 0.013 17.59) 91%,
    oklch(21.25% 0.005 17.53) 100%
  );
  --confirm-shadow: linear-gradient(
    to left,
    oklch(60.96% 0.114 146.9) 0%,
    oklch(73.59% 0.114 146.9) 9%,
    oklch(73.59% 0.114 146.9) 91%,
    oklch(60.96% 0.114 146.9) 100%
  );
  --destructive-shadow: linear-gradient(
    to left,
    oklch(68.88% 0.231 26.47) 0%,
    oklch(65.88% 0.231 26.47) 9%,
    oklch(65.88% 0.231 26.47) 91%,
    oklch(68.88% 0.231 26.47) 0%
  );
  /* oklch(65.29% 0.231 25.278467161119735) */
  --input: oklch(41.69% 0.104 284.48);
  --input-invalid: oklch(58.82% 0.182 25.278467161119735);

  --ring: oklch(76.7% 0.123 284.14);
  --accent: oklch(65.57% 0.19552898037793698 288.17775174927874);
  --accent-foreground: var(--color-background);

  --foreground-primary: oklch(96.86% 0.009 288.17775174927874);
  --foreground-destructive: oklch(58.82% 0.182 25.278467161119735);

  --background: oklch(96.88% 0.015 294.47);

  --primary: oklch(85.93% 0.0733 288.25);
  --primary-foreground: oklch(42.44% 0.011 17.58);

  --secondary: oklch(91.4% 0.014 314.75);
  --secondary-foreground: oklch(42.44% 0.011 17.58);

  --destructive: oklch(73.96% 0.1586202546972356 25.278467161119735);
  --destructive-foreground: oklch(96.88% 0.015 294.47);
}

html {
  display: block;
}

html,
body {
  --text-size: 24px;
  height: 100%;
  font-family: var(--nanum-square-neo), sans-serif;
  font-size: var(--text-size);
  background-color: var(--color-background);
}

body {
  cursor:
    url('/images/cursor_default.png') 0 0,
    auto;
}

#_next {
  isolation: isolate;
  height: 100%;
}

#site-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  container: root / inline-size;
  background: var(--color-background);
}

input,
button {
  border: none;
  border-radius: 0;
  padding: 0;
}

input,
button,
textarea {
  line-height: 16px;
  letter-spacing: -0.4px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  opacity: 0;
  position: absolute;
  right: 0;
}

button {
  background: none;
  touch-action: manipulation;
  outline-offset: 4px;

  :focus:not(:focus-visible) {
    outline: none;
  }
}

a:visited {
  color: var(--color-text);
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

#device-page__root-wrapper {
  background: oklch(96.88% 0.015 294.47);

  display: grid;
  place-items: center;
  width: 100cqw;
  height: 100%;
}

#devsite-wrapper {
  display: grid;
  width: 100cqw;
  height: 100cqh;

  grid-template-rows: [devsite-header] 64px [devsite-content-row] 1fr;
  grid-template-columns: [devsite-content-column] 1fr;
}

#devsite-header {
  position: relative;
  width: 100cqw;

  grid-area: devsite-header / devsite-content-column;
  margin-left: auto;
  margin-right: auto;

  padding-left: 64px;
  padding-right: 64px;
}

#devsite-content {
  grid-area: devsite-content-row / devsite-content-column;
  container: devsite-content / size;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

#devsite-content__site-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80cqh;
}

#status-notification {
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  list-style-type: none;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

@container root (width < 769px) {
  #_next {
    font-size: 16px;
    line-height: calc(1em + 0.15rem);
  }
}

@container root (width < 426px) {
  #devsite-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  #device-root-wrapper {
    border: none;
    border-radius: 0px;
  }
  #device-outter-shadow {
    border: none;
    outline: none;
  }

  #device-inner-window {
    padding: 0px;
  }

  #devsite-header {
    margin-left: 0;
    margin-right: 0;

    padding-left: 32px;
    padding-right: 32px;
  }

  .devsite-device__main-wrapper {
    flex-direction: column;
  }
}

@container root (width <= 360px) {
  #devsite__init-page-title {
    flex-direction: column;
  }
}

@container devsite-content (height < 1035px) {
  #device-root {
    width: 90cqw;
    height: 100cqh;
  }

  #device-wrapper {
    grid-template-columns: [content-device] var(--content-height) [drawer-device] var(
        --drawer-height
      );
    grid-template-rows: 1fr;
    align-items: center;
    width: 70cqw;
    height: 80cqh;
  }

  #drawer-container {
    height: var(--drawer-container-size);
    width: 100%;
    align-items: center;

    &:has(input:checked) {
      border-top-left-radius: 16px;
      border-top-right-radius: 36px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 36px;

      grid-template-columns: [opener] var(--drawer-opener) [drawer-content] var(
          --drawer-content
        );
      grid-template-rows: 1fr;
    }

    &:has(input:checked) > label#drawer-label {
      height: 100cqh;
      width: 100%;
    }
  }

  #drawer-label::before {
    top: calc(50% - 27px);
    left: calc(50% - 3px);
    height: 54px;
    width: 6px;
  }

  span.pin-pointer {
    --pin-pointer-width: 5cqw;
  }
}
