*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  line-height: calc(1em + 0.8rem);
  -webkit-font-smoothing: antialiased;
}
html {
  display: block;
}

html,
body {
  height: 100%;
  font-family: "NanumSquareNeo", "Wotfard", sans-serif;
}

#_next {
  isolation: isolate;
  height: 100%;
}

#site-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  container: root / inline-size;
  height: 100%;
}

input,
button {
  border: none;
  border-radius: 0;
}

input,
button,
textarea {
  line-height: 16px;
  letter-spacing: -0.4px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  opacity: 0;
  position: absolute;
  right: 0;
}

button {
  background: none;
  cursor: pointer;
  touch-action: manipulation;
  outline-offset: 4px;

  :focus:not(:focus-visible) {
    outline: none;
  }
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
